* {
  box-sizing: border-box;
}
html,
body {
  display: flex;
  flex-direction: column;
  margin-top: 0;
}
html {
  scroll-behavior: smooth;
}
body {
  width: 100vw;
}

header {
  font-family: "PT Serif", serif;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-image: url("images/header-img.JPG");
  background-repeat: no-repeat;
  background-size: 93vh;
  background-position: center;
  height: 100vh;
  border: 25px solid #7c677f;
  width: 100%;
}

#nav-bar {
  text-decoration: none;
  text-align: center;
  margin-top: -90px;
  font-size: 20px;
}

header a {
  text-decoration: none;
  color: black;
  padding-right: 20px;
  padding: 30px;
}

h1 {
  animation: type 3s steps(13);
  overflow: hidden;
  white-space: nowrap;
  /* font-family: consolas; */
  border-right: 4px solid black;
  margin-left: 10px;
  font-size: 4vw;
  padding: 0;
  margin-top: -4.4vh;
  color: #7c677f;
  font-family: "Playfair Display", serif;
}
h2 {
  font-family: "Playfair Display", serif;
}
#name {
  font-family: "Herr Von Muellerhoff", cursive;
  color: silver;
  font-size: 4vw;
  margin-left: 7vw;
}

@keyframes type {
  0% {
    width: 0ch;
  }
  100% {
    width: 9ch;
  }
}

.main-body {
  /* background-color: rgba(233, 232, 222, 0.904); */
  background-color: #f6e5e4;
}
.main-body {
  display: flex;
  flex-direction: row;
}

#info {
  display: inline-block;
  padding: 10px;
  align-content: stretch;
}

.info-icon {
  margin-right: 1vw;
  margin-top: 1vh;
  width: 2vw;
  align-self: baseline;
}
.info-icon:hover {
  height: 30px;
  width: 30px;
  cursor: pointer;
}
#initials {
  padding: 10px;
  display: flex;
  flex-direction: column;
  text-shadow: lavender 0px 0px 5px, lavender 0px 0px 10px,
    lavender 0px 0px 15px;
  margin-left: -5vw;
  padding-right: 25px;
  position: absolute;
  right: 10%;
  height: 100vh;
}
.sidebar {
  display: none;
  z-index: 1;
  top: 0;
  padding-top: 30px;
  position: fixed;
  left: 0;
  width: 350px;
  height: 100%;
  transition: 0.5s;
  transition-property: left;
  overflow-y: auto;
  background: rgba(163, 129, 130, 0.473);
}
.profile_info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.sidebar .profile_info .profile_image {
  border-radius: 100px;
  margin-bottom: 10px;
  width: 90px;
  height: 130px;
}

.sidebar .profile_info h4 {
  margin-top: 0;
  margin-bottom: 20px;
  color: #fff;
}

.sidebar a {
  color: #fff;
  display: block;
  width: 100%;
  line-height: 70px;
  text-decoration: none;
  padding-left: 40px;
  box-sizing: border-box;
  transition: 0.5s;
}

.sidebar a:hover {
  background: #7c677f;
}

.sidebar i {
  padding-right: 10px;
  font-size: 25px;
}

label #sidebar_btn {
  z-index: 1;
  color: #7c677f;
  position: fixed;
  cursor: pointer;
  left: 300px;
  font-size: 20px;
  margin: 5px 0;
  transition: 0.5s;
  transition-property: color;
}
#closing-tag {
  font-size: 40px;
}
#closing-tag-two {
  font-size: 40px;
}
label #sidebar_btn:hover {
  color: #7c677f;
}
.contact-details {
  display: none;
  z-index: 1;
  top: 0;
  padding-top: 30px;
  position: fixed;
  left: 0;
  width: 350px;
  height: 100%;
  transition: 0.5s;
  transition-property: left;
  overflow-y: auto;
  background: rgba(163, 129, 130, 0.473);
}
.contact h2 {
  color: #5d4b63;
}
.contact-details a {
  color: #fff;
  display: block;
  width: 100%;
  line-height: 70px;
  text-decoration: none;
  padding-left: 40px;
  box-sizing: border-box;
  transition: 0.5s;
}

.contact-details a:hover {
  background: #7c677f;
}

.contact-details i {
  padding-right: 10px;
  font-size: 25px;
}

.center-con {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50vh;
}

.round {
  position: absolute;
  border: 2px solid #fff;
  border-radius: 100%;
  width: 80px;
  height: 80px;
}

#cta {
  width: 100%;
  cursor: pointer;
  position: absolute;
}

#cta .arrow {
  left: 30%;
}

.arrow {
  position: absolute;
  bottom: 0;
  margin-left: 0px;
  width: 22px;
  height: 22px;
  background-size: contain;
  top: 26px;
}
.segunda {
  margin-left: 8px;
}
.next {
  background-image: url(data:image/svg+xml;base64,PHN2ZyBpZD0iTGF5ZXJfMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB2aWV3Qm94PSIwIDAgNTEyIDUxMiI+PHN0eWxlPi5zdDB7ZmlsbDojZmZmfTwvc3R5bGU+PHBhdGggY2xhc3M9InN0MCIgZD0iTTMxOS4xIDIxN2MyMC4yIDIwLjIgMTkuOSA1My4yLS42IDczLjdzLTUzLjUgMjAuOC03My43LjZsLTE5MC0xOTBjLTIwLjEtMjAuMi0xOS44LTUzLjIuNy03My43UzEwOSA2LjggMTI5LjEgMjdsMTkwIDE5MHoiLz48cGF0aCBjbGFzcz0ic3QwIiBkPSJNMzE5LjEgMjkwLjVjMjAuMi0yMC4yIDE5LjktNTMuMi0uNi03My43cy01My41LTIwLjgtNzMuNy0uNmwtMTkwIDE5MGMtMjAuMiAyMC4yLTE5LjkgNTMuMi42IDczLjdzNTMuNSAyMC44IDczLjcuNmwxOTAtMTkweiIvPjwvc3ZnPg==);
}

@keyframes bounceAlpha {
  0% {
    opacity: 1;
    transform: translateX(0px) scale(1);
  }
  25% {
    opacity: 0;
    transform: translateX(20px) scale(0.9);
  }
  26% {
    opacity: 0;
    transform: translateX(-20px) scale(0.9);
  }
  55% {
    opacity: 1;
    transform: translateX(0px) scale(1);
  }
}

.bounceAlpha {
  animation-name: bounceAlpha;
  animation-duration: 1.4s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.arrow.primera.bounceAlpha {
  animation-name: bounceAlpha;
  animation-duration: 1.4s;
  animation-delay: 0.2s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.round:hover .arrow {
  animation-name: bounceAlpha;
  animation-duration: 1.4s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
.round:hover .arrow.primera {
  animation-name: bounceAlpha;
  animation-duration: 1.4s;
  animation-delay: 0.2s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

/* Landing Page */
.landing-page {
  width: 100%;
  height: 100vh;
  background: linear-gradient(
      135deg,
      rgba(163, 129, 130, 0.9) 0%,
      rgba(124, 103, 127, 0.8) 100%
    ),
    url("images/landing-page.png") center no-repeat;
  background-size: contain;
  position: relative;
  border: 25px solid #7c677f;
}

.main-message {
  width: 100%;
  max-width: 58rem;
  text-transform: uppercase;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.main-message h2 {
  letter-spacing: 1.2rem;
  font-size: 2rem;
  font-weight: 400;
  overflow: hidden;
  white-space: nowrap;
  animation: typing 5s steps(27), blink 1s ease-in-out 7s infinite;
  width: 31ch;
  margin: auto;
  border-right: 4px solid rgba(255, 255, 255, 1);
  color: #5d4b63;
}

@keyframes typing {
  75% {
    width: 0ch;
    color: rgba(249, 105, 14, 1);
  }
  100% {
    width: 27ch;
  }
}

@keyframes blink {
  0% {
    border-right: 4px solid rgba(255, 255, 255, 0);
  }
  100% {
    border-right: 4px solid rgb(194, 194, 194);
  }
}

.main-message h3 {
  font-size: 4rem;
  margin: 1rem 0;
  color: rgba(249, 105, 14, 1);
  background: linear-gradient(
    to right,
    rgba(249, 105, 14, 1) 0%,
    rgba(102, 51, 153, 1) 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.main-message p {
  text-transform: none;
  font-size: 1.7rem;
  font-weight: 400;
}

.intro-btn {
  display: flex;
  justify-content: center;
}

.btn {
  margin: 0 9px;
  background: #f6e5e4;
  border-radius: 2rem;
  color: #7c677f;
  padding: 1rem 2.5rem;
  display: inline-block;
  margin-top: 2rem;
  transition: background-color 650ms;
  font-weight: 500;
  letter-spacing: 2px;
}

.btn:hover {
  color: #fafafa;
  background-color: rgba(189, 72, 0);
}

.scroll-down i {
  color: #fafafa;
  transition: color 650ms;
  margin-top: 2rem;
  font-size: 3.5rem;
}

.scroll-down i:hover {
  color: rgba(189, 72, 0);
}

/* About */

.about {
  width: 100%;
  min-height: 100vh;
  max-width: 100rem;
  margin: auto;
}

.about .container {
  display: flex;
  align-items: center;
  min-height: 80vh;
}

.about-img img {
  height: 35rem;
  width: auto;
  border-radius: 25%;
  box-shadow: 0 20px 30px 0 rgba(0, 255, 255, 0.15);
  margin-top: 6rem;
  margin-bottom: 6rem;
  margin-left: 3rem;
  margin-right: 3rem;
}

.about-text-box {
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 0;
  padding: 1.45rem;
  background-color: rgba(246, 229, 228, 0.5);
}

.about-text-box h2 {
  font-size: 4rem;
  margin-bottom: 20px;
  color: #5d4b63;
  color: #5d4b63;
}

.about-text-box p {
  font-family: "Poppins", sans-serif;
  font-size: 1.4rem;
  padding: 0;
  margin-bottom: 1.45rem;
  color: rgba(163, 129, 130);
}

hr {
  margin: 4rem 0;
  background: linear-gradient(
    to right,
    rgba(249, 105, 14, 1) 0%,
    rgba(102, 51, 153, 1) 100%
  );
  border: 0;
  height: 1px;
}

/* Services */

div.tier-item:nth-child(1) {
  padding-top: 6rem;
  padding-bottom: 5rem;
}
div.tier-item:nth-child(2) {
  margin-top: -9vh;
}

.services {
  padding: 3rem 0;
  min-height: 100vh;
  max-width: 90rem;
  margin: auto;
}

.title-heading {
  text-align: center;
  margin-bottom: 9rem;
  color: rgb(163, 129, 130);
}

.title-heading h2 {
  font-size: 2rem;
  margin: 0.5rem 0 1rem 0;
  color: #5d4b63;
}

.title-heading p {
  font-family: "Poppins", sans-serif;
  margin-bottom: 5rem;
  margin-top: -2vh;
}

.service-tiers {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  gap: 2.5rem;
}

.tier-item {
  height: 30rem;
  padding: 3rem;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  cursor: default;
  /* background-color: rgba(163, 129, 130, 0.1); */
  -webkit-box-shadow: -11px 17px 48px -1px rgba(112, 87, 112, 1);
  -moz-box-shadow: -11px 17px 48px -1px rgba(112, 87, 112, 1);
  box-shadow: -11px 17px 48px -1px rgba(112, 87, 112, 1);
  background-color: rgba(246, 229, 228, 0.5);
}

.tier-item i {
  font-size: 3.5rem;
  margin-left: 8vw;
}

.tier-item h2 {
  font-size: 2rem;
  margin: 2rem 0;
  background: linear-gradient(
    to right,
    rgba(249, 105, 14, 1) 0%,
    rgba(102, 51, 153, 1) 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.tier-item p {
  font-family: "Poppins", sans-serif;
  font-size: 1.4rem;
}

/* Projects */

.projects {
  padding: 3rem 0;
  min-height: 100vh;
  max-width: 70rem;
  margin: auto;
}

.has-margin-right {
  margin: 0 3rem 0 0;
}

.project-item {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 1.45rem 5rem 1.45rem;
  background-color: #cecbda;
  border-radius: 15px;
}

.project-img {
  flex: 1;
}
.project-img img {
  width: 500px;
  margin: 1.47rem;
  -webkit-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
}
.project-img img:hover {
  border: 2px solid #7c677f;
  background-color: #f6e5e4;
  -webkit-box-shadow: -16px -16px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -16px -16px 5px 0px rgba(0, 0, 0, 0.75);
  box-shadow: -16px -16px 5px 0px rgba(0, 0, 0, 0.75);
}
@media only screen and (max-width: 550px) {
  .project-img img {
    width: 300px;
  }
}

.project-description {
  flex: 1;
  margin-top: 0;
  padding: 10px;
}
.project-description:hover {
  background-color: rgba(124, 103, 127, 0.5);
  color: #f6e5e4;
}
.project-description h2 {
  font-size: 2rem;
  margin: 2rem 0;
  background: linear-gradient(
    to right,
    rgba(249, 105, 14, 1) 0%,
    rgba(102, 51, 153, 1) 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.project-description p {
  font-family: "Poppins", sans-serif;
  font-size: 1.4rem;
  margin-top: -10px;
}

.project-link {
  display: inline-block;
  margin: 2rem 0;
  font-size: 1.4rem;
}

/* Contact */

.contact {
  width: 100%;
  min-height: 100vh;
  max-width: 70rem;
  margin: auto;
  padding-top: 5rem;
}

.contact h2 {
  text-align: center;
  font-size: 2.5rem;
  margin-bottom: 5rem;
}

.contact p {
  font-family: "Poppins", sans-serif;
  font-size: 1.4rem;
  padding: 0;
  margin: 0.9rem 2rem;
}

.contact .container {
  min-height: 50vh;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

/* Footer */

footer {
  width: 100%;
  max-width: 70rem;
  margin: auto;
  padding: 2.5rem;
  color: #8a8a8a;
  text-align: center;
  font-size: 1.2rem;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  background-color: rgba(246, 229, 228, 0.5);
}

footer a {
  margin: 0 0.2rem;
}

.footer-coded-by {
  margin: 2rem 0;
  color: rgb(163, 129, 130);
}

.footer-social a {
  margin: 0 0.5rem;
  font-size: 2rem;
}

/* Responsive Design */

@media (max-width: 750px) {
  .main-message h3 {
    font-size: 3rem;
  }
  .about .container {
    flex-direction: column;
  }
  p {
    font-size: 1.3rem;
  }
  .title-heading {
    margin: 0;
  }

  .services-tiers {
    gap: 0;
  }
  .project-item {
    flex-direction: column;
    align-items: flex-start;
    padding: 2rem;
    box-shadow: 0 20px 30px 0 rgba(212, 255, 255, 0.15);
  }
  .project-img {
    width: 20rem;
  }
}

@media (max-width: 665px) {
  .main-message {
    top: 55%;
  }
  .main-message h2 {
    letter-spacing: 1rem;
    font-size: 1.5rem;
    width: 29ch;
  }

  .main-message h3 {
    font-size: 2rem;
  }

  .main-message p {
    font-size: 1.3rem;
  }
  .btn {
    border-radius: 0.9rem;
    padding: 0.9rem 0.9rem;
  }
  .about-text-box h2 {
    font-size: 3rem;
    margin-bottom: 20px;
  }
  .about-text-box {
    margin: 3rem;
    background-color: rgba(246, 229, 228, 0.5);
    padding: 10px;
  }
  .about-text-box p {
    margin: 0 0 2.45rem;
  }

  .title-heading h2 {
    margin-bottom: 3rem;
    color: #5d4b63;
  }
  .title-heading p {
    font-size: 1.3rem;
  }

  .contact .container {
    flex-direction: column;
  }
  .contact {
    background-color: #f6e5e4;
    font-family: "Poppins", sans-serif;
    font-size: 3rem;
    color: rgb(163, 129, 130);
  }
  .contact h2 {
    color: #5d4b63;
  }
  footer,
  footer p {
    font-size: 1.2rem;
  }
}
a {
  color: #d74d63;
}
