* {
  /* margin-top: 0; */
  box-sizing: border-box;
}
html,
body {
  display: flex;
  flex-direction: column;
}
body {
  border: 25px solid rgb(160, 138, 191);
  height: 100vh;
  width: 98.4vw;
}

header {
  font-family: "PT Serif", serif;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#nav-bar {
  text-decoration: none;
  text-align: center;
  margin-top: -90px;
  font-size: 20px;
}

header a {
  text-decoration: none;
  color: black;
  padding-right: 20px;
}

h1 {
  animation: type 3s steps(13);
  overflow: hidden;
  white-space: nowrap;
  /* font-family: consolas; */
  border-right: 4px solid black;
  margin-left: 10px;
  font-size: 4vw;
  padding: 0;
  margin-top: -4.4vh;
  color: rgb(160, 138, 191);
}

#name {
  font-family: "Herr Von Muellerhoff", cursive;
  color: silver;
  font-size: 4vw;
  margin-left: 7vw;
}

@keyframes type {
  0% {
    width: 0ch;
  }
  100% {
    width: 13ch;
  }
}
.main-body {
  background-color: rgba(233, 232, 222, 0.904);
}
#menu-img {
  /* justify-content: center; */
  margin-left: -2vw;
  justify-self: self-end;
  display: flex;
}
#portrait {
  height: 94vh;
  width: auto;
  /* margin: 10px 5vw 10px auto; */
  padding-right: 4vw;
  padding-top: 2vh;
  margin-left: 12vw;
}
.main-body {
  display: flex;
  flex-direction: row;
}

#info {
  margin-right: 2vw;
  display: inline-block;
  padding: 10px;
}

.info-icon {
  margin-right: 1vw;
  margin-top: 1vh;
  width: 2vw;
}

#initials {
  padding: 10px;
  display: flex;
  flex-direction: column;
  text-shadow: lavender 0px 0px 5px, lavender 0px 0px 10px,
    lavender 0px 0px 15px;
  margin-left: -5vw;
  padding-right: 25px;
}
